spec:
  inputs:
    ENABLE_FEATURE_X:
      type: boolean
      description: Input used for testing purposes
      default: true
    jobStage:
      type: string
      default: test
    environment:
      type: string
      default: production
---

image: maven:3.9-eclipse-temurin-21
stages:
  - build
  - test
  - deploy
  - cleanup
  - merge_request_stage

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"

cache:
  paths:
    - .m2/repository

before_script:
  - echo "Using Maven version:"
  - mvn -v


merge-request-job-for-testing:
  stage: merge_request_stage
  script:
    - echo "This job will run only when a merge request pipeline is triggered."
    - echo "This rule is used to configure this job to run in merge request pipelines"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

build-job:
  stage: build
  script:
    - echo "start build"
    - echo $testsToRun
    - echo - $RunPipeline
    - echo "starting to run maven..."
    - mvn clean compile
    - |
      if $[[ inputs.ENABLE_FEATURE_X ]]; then
        echo "Feature X is enabled!"
      else
        echo "Feature X is disabled."
      fi


test-job-student-test:
  stage: test
  script:
    - pwd
    - |
      if [ -f "surefire-reports/junit-reports/junit.xml" ]; then
       echo "File exists"
      else
       echo "File does not exist"
      fi

    - mvn clean install -Dtest=$testsToRun -fn

  artifacts:
      when: always  # Upload artifacts even if the job fails
      paths:
        - ./target/surefire-reports/*.xml  # Adjust this to your actual test result directory
     
# test-job-verifier:
#   stage: test
#   script:
#     - mvn clean install -Dtest=Verifier -fn

#   artifacts:
#       when: always  # Upload artifacts even if the job fails
#       paths:
#         - ./target/surefire-reports/*.xml  # Adjust this to your actual test result directory
#     #  reports:
#     #    junit: ./target/surefire-reports/junit-reports/junit.xml  # JUnit test result file

# testsToRun:
#   stage: test
#   script:
#     - mvn clean install -Dtest=Verifier -fn

#   artifacts:
#       when: always  # Upload artifacts even if the job fails
#       paths:
#         - ./target/surefire-reports/*.xml  # Adjust this to your actual test result directory
#     #  reports:
#     #    junit: ./target/surefire-reports/junit-reports/junit.xml  # JUnit test result file

deploy-job:
  stage: deploy
  script:
    - echo "Deploying the application..."
    - echo "Using Maven version:"
    - mvn -v
    - echo "Deploying the application finished."
# allow_failure: true  

cleanup-job:
  stage: cleanup
  script:
    - echo "Cleaning up after deployment..."
    - echo "Using Maven version:"
    - mvn -v
    - echo "Cleaning up after deployment finished."


export_inputs:
  stage: build
  script:
    - |
      toJson() { printf '{ "%s": "%s" }' "$1" "$2"; }

      cat > octane-sdp-sdm-inputs.json <<EOF
      [
        $(toJson jobStage "$[[ inputs.jobStage ]]"),
        $(toJson ENABLE_FEATURE_X "$[[ inputs.ENABLE_FEATURE_X ]]"),
        $(toJson environment "$[[ inputs.environment ]]")
      ]
      EOF
  artifacts:
    paths:
      - octane-sdp-sdm-inputs.json

